.wrapper {
  display: grid;
  grid-template-columns: 380px;
  grid-row-gap: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative; }

.title {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 110px;
  bottom: 50px; }

.title2 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 90px;
  bottom: 50px; }

.title3 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 120px;
  bottom: 50px; }

.title4 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 120px;
  bottom: 50px; }

.price {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 10px; }

#product_price {
  position: absolute;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block; }

.product_price1 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 200px;
  bottom: 50px; }

.product_price2 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 210px;
  bottom: 50px; }

.product_price3 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 270px;
  bottom: 50px; }

.product_price4 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 250px;
  bottom: 50px; }

.product_price5 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 210px;
  bottom: 50px; }

.product_price6 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 220px;
  bottom: 50px; }

#product_description {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 35px; }

#product_description2 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  position: absolute;
  text-align: center;
  top: 30px;
  left: 90px; }

#product_description3 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  position: absolute;
  text-align: center;
  left: 60px;
  top: 30px; }

#product_description4 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  position: absolute;
  text-align: center;
  left: 120px;
  top: 30px; }

#product_description5 {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  position: absolute;
  text-align: center;
  left: 45px;
  top: 30px; }

.add {
  background-color: #800000;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  font-family: "Droid Sans", sans-serif;
  position: absolute;
  top: 15px;
  left: 320px; }

.remove {
  background-color: #800000;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  font-family: "Droid Sans", sans-serif;
  position: absolute;
  top: 50px;
  left: 320px; }

.cartbackground1 {
  background-color: black;
  width: 363px;
  min-height: 200px;
  margin-left: 25px;
  margin-bottom: 0px;
  border-radius: 10px;
  margin-top: 20px; }

.cartbackground2 {
  background-color: black;
  width: 363px;
  min-height: 200px;
  margin-left: 25px;
  margin-bottom: 0px;
  border-radius: 10px;
  margin-top: 20px; }

.cartbackground3 {
  background-color: black;
  width: 363px;
  min-height: 200px;
  margin-left: 25px;
  margin-bottom: 0px;
  border-radius: 10px;
  margin-top: 20px; }

.clear {
  background-color: #800000;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  font-family: "Droid Sans", sans-serif;
  margin-left: 25px;
  margin-top: 10px; }

.cartCount {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px; }

#cartCount {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  margin-left: 25px; }

.cartTitle {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  margin-left: 25px; }

#cartTable {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  margin-left: 25px;
  display: none;
  position: relative; }

#cartnames {
  margin-left: 20px; }

#orderPrice {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  margin-left: 25px; }

#template {
  display: none; }

.count {
  position: absolute;
  left: 250px; }

.cartbutton1 {
  position: absolute;
  left: 290px; }

.cartbutton2 {
  position: absolute;
  left: 290px; }

#CartContainer {
  margin-left: 30px; }

#kitchen {
  background-color: #800000;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  font-family: "Droid Sans", sans-serif;
  margin-left: 110px;
  margin-bottom: 10px; }

#yourOrder {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  margin-left: 120px;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px; }

.progress {
  background-color: black;
  width: 320px;
  min-height: 150px;
  margin-left: 45px;
  border-radius: 10px;
  margin-top: 30px;
  border: 2px solid white; }

body {
  display: inline;
  margin: 0px; }

.container {
  width: 100%;
  height: 736px; }

.container--two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0px;
  position: relative;
  width: 414px;
  padding-left: 0px; }

.section {
  width: 414px; }

.section--header {
  background-color: black;
  height: 118px;
  grid-row: 1/2;
  position: relative; }

.section--body {
  height: 555px;
  background-image: url("../img/background3.png");
  grid-row: 2/3;
  overflow-y: scroll; }

.section--footer {
  height: 61px;
  background-color: black;
  grid-row: 3/4; }

ul {
  list-style-type: none;
  position: relative;
  right: 35px; }

li {
  display: inline; }

li a {
  width: 414px;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 40px; }

#popup {
  width: 300px;
  height: 118px;
  background-color: black;
  border: 2px solid white;
  color: white;
  font-family: "Droid Sans", sans-serif;
  display: none;
  position: absolute;
  z-index: 1000;
  right: 40px;
  top: 10px; }

#close {
  margin-top: 5px;
  float: right;
  margin-right: 10px; }

#words {
  text-align: center;
  margin-top: 40px;
  font-size: 20px; }

#popup2 {
  width: 414px;
  height: 40px;
  background-color: black;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  position: absolute;
  top: 75px;
  display: none;
  z-index: 1000; }
  #popup2 ul {
    margin-left: -5px; }

#popup3 {
  width: 310px;
  height: 118px;
  background-color: black;
  border: 3px solid white;
  color: white;
  font-family: "Droid Sans", sans-serif;
  display: none;
  position: absolute;
  z-index: 1000;
  right: 50px;
  top: 610px;
  text-align: center; }

#popup4 {
  width: 310px;
  height: 118px;
  background-color: black;
  border: 3px solid white;
  color: white;
  font-family: "Droid Sans", sans-serif;
  display: none;
  position: absolute;
  z-index: 1000;
  right: 50px;
  top: 880px;
  text-align: center; }

#popup5 {
  width: 310px;
  height: 118px;
  background-color: black;
  border: 3px solid white;
  color: white;
  font-family: "Droid Sans", sans-serif;
  display: none;
  position: absolute;
  z-index: 1000;
  right: 50px;
  top: 610px;
  text-align: center; }

#nobutton {
  background-color: #800000;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  font-family: "Droid Sans", sans-serif;
  width: 60px; }

#kitchen2 {
  background-color: #800000;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  font-family: "Droid Sans", sans-serif;
  width: 60px; }

#question {
  font-size: 20px; }

/*This is for desktop*/
@media only screen and (min-width: 768px) {
  .container {
    width: 768px !important;
    height: 1024px;
    margin: 0 auto; }

  #body {
    width: 768px !important;
    height: 1024px !important; }

  .container--two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0px;
    position: relative;
    width: 768px;
    margin: 0 auto; }

  .section {
    width: 768px; }

  .section--header {
    height: 292px; }

  .header2 {
    height: 196px; }

  .section--body {
    height: 900px;
    background-image: url("../img/background1.png");
    overflow: visible; }

  .section--footer {
    height: 128px; }

  #button1 {
    top: 800px !important;
    left: 200px !important;
    width: 345px !important;
    height: 106px !important;
    font-size: 40px !important; }

  #button2 {
    background-color: black;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    width: 144px;
    height: 48px;
    font-size: 20px !important; }

  #logo1 {
    margin-top: 10px !important;
    left: 110px !important;
    top: 129px !important;
    width: 549px !important;
    height: 413px !important; }

  #logo2 {
    display: none; }

  #logo3 {
    width: 242px !important;
    height: 182px !important;
    margin-left: 100px !important; }

  #logo {
    display: inherit !important;
    width: 180px !important;
    height: 137px !important;
    margin-left: 293px;
    margin-top: 10px; }

  #popup {
    width: 516px;
    height: 274px;
    font-size: 32px;
    right: 60px; }

  #words {
    font-size: 48px;
    margin-top: 80px;
    width: 500px; }

  ul {
    right: 90px;
    top: 100px; }

  li a {
    width: 768px;
    font-size: 20px;
    margin-left: 120px; }

  #pizzaicon {
    display: inherit !important;
    width: 82px;
    height: 82px;
    bottom: 50px; }

  #breadicon {
    display: inherit !important;
    width: 82px;
    height: 82px;
    bottom: 40px; }

  #glassicon {
    display: inherit !important;
    width: 73px;
    height: 73px;
    bottom: 55px; }

  #cakeicon {
    display: inherit !important;
    width: 69px;
    height: 69px;
    bottom: 55px; }

  .wrapper {
    grid-template-columns: repeat(2, 205px);
    grid-column-gap: 40px; }

  #pagename {
    display: inherit !important; }

  #button3 {
    font-size: 20px !important;
    margin-left: 250px !important;
    margin-top: 40px !important;
    width: 237px !important;
    height: 47px !important; }

  .pizza {
    width: 205px !important;
    height: 207px !important; }

  .add {
    top: 160px;
    left: 70px; }

  .remove {
    top: 160px;
    left: 110px; }

  .cartbutton1 {
    top: -90px;
    left: 180px; }

  .cartbutton2 {
    top: -50px;
    left: 180px; }

  .cartbackground1 {
    width: 220px;
    margin-left: 520px;
    margin-top: -740px;
    min-height: 200px;
    margin-bottom: 500px; }

  .cartbackground2 {
    width: 220px;
    margin-left: 520px;
    margin-top: -495px;
    min-height: 200px;
    margin-bottom: 500px; }

  .cartTitle {
    font-size: 13px; }

  #cartCount {
    font-size: 13px; }

  #orderPrice {
    font-size: 13px; }

  #kitchen {
    font-size: 14px;
    margin-left: 45px; }

  #cartTable {
    margin-left: 5px;
    font-size: 10px; }

  #popup3 {
    top: -120px;
    right: 10px;
    height: 110px; }

  #popup4 {
    top: -120px;
    right: 10px;
    height: 110px; }

  #popup5 {
    top: -120px;
    right: 10px;
    height: 110px; }

  #popup2 {
    width: 768px;
    top: 245px; }
    #popup2 ul {
      top: 0px; }

  .title {
    left: 70px;
    bottom: 160px; }

  .title2 {
    left: 35px;
    bottom: 160px; }

  .title3 {
    left: 60px;
    bottom: 160px; }

  .title4 {
    bottom: 160px;
    left: 65px; }

  .title5 {
    position: absolute;
    left: 60px; }

  .title6 {
    position: absolute;
    left: 40px; }

  .title7 {
    position: absolute;
    left: 25px; }

  #product_description {
    left: 10px;
    top: 40px; }

  #product_description2 {
    left: 20px;
    top: 50px; }

  #product_description3 {
    right: 30px;
    left: 30px;
    top: 40px; }

  #product_description5 {
    left: 20px;
    right: 20px;
    top: 40px; }

  .product_price1 {
    left: 85px; }

  .product_price2 {
    left: 85px; }

  .product_price4 {
    left: 90px; }

  .product_price5 {
    left: 85px; }

  .product_price6 {
    left: 85px; }

  .progress {
    margin-left: 180px;
    width: 400px;
    margin-top: 50px; }

  .cartTable {
    font-size: 20px !important; }

  #yourOrder {
    font-size: 25px;
    margin-left: 130px; }

  .orderprice {
    font-size: 20px !important; }

  #myProgress {
    height: 50px;
    margin-left: 35px !important;
    margin-top: 200px !important; }

  #myBar {
    height: 50px !important; }

  #button5 {
    font-size: 20px !important;
    width: 250px !important;
    height: 40px !important;
    margin-left: 260px !important; }

  .button4 {
    width: 345px !important;
    height: 106px !important;
    font-size: 40px !important;
    margin-left: 215px !important;
    margin-top: 150px !important; }

  .count {
    display: none; }

  .iconsc {
    font-size: 10px !important;
    margin-left: 200px !important;
    margin-top: 10px !important; }
    .iconsc a {
      font-size: 10px !important; } }
/*This is for tablet*/
@media only screen and (min-width: 414px) and (max-width: 768px) {
  .container {
    width: 768px !important;
    height: 1024px;
    margin: 0 auto; }

  #body {
    width: 768px !important;
    height: 1024px !important; }

  .container--two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0px;
    position: relative;
    width: 768px;
    margin: 0 auto; }

  .section {
    width: 768px; }

  .section--header {
    height: 292px; }

  .header2 {
    height: 196px; }

  .section--body {
    height: 900px;
    background-image: url("../img/background1.png");
    overflow: visible; }

  .section--footer {
    height: 128px; }

  #button1 {
    top: 800px !important;
    left: 200px !important;
    width: 345px !important;
    height: 106px !important;
    font-size: 40px !important; }

  #button2 {
    background-color: black;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    width: 144px;
    height: 48px;
    font-size: 20px !important; }

  #logo1 {
    margin-top: 10px !important;
    left: 110px !important;
    top: 129px !important;
    width: 549px !important;
    height: 413px !important; }

  #logo2 {
    display: none; }

  #logo3 {
    width: 242px !important;
    height: 182px !important;
    margin-left: 100px !important; }

  #logo {
    display: inherit !important;
    width: 180px !important;
    height: 137px !important;
    margin-left: 293px;
    margin-top: 10px; }

  #popup {
    width: 516px;
    height: 274px;
    font-size: 32px;
    right: 60px; }

  #words {
    font-size: 48px;
    margin-top: 80px;
    width: 500px; }

  ul {
    right: 90px;
    top: 100px; }

  li a {
    width: 768px;
    font-size: 20px;
    margin-left: 120px; }

  #pizzaicon {
    display: inherit !important;
    width: 82px;
    height: 82px;
    bottom: 50px; }

  #breadicon {
    display: inherit !important;
    width: 82px;
    height: 82px;
    bottom: 40px; }

  #glassicon {
    display: inherit !important;
    width: 73px;
    height: 73px;
    bottom: 55px; }

  #cakeicon {
    display: inherit !important;
    width: 69px;
    height: 69px;
    bottom: 55px; }

  .wrapper {
    grid-template-columns: repeat(2, 205px);
    grid-column-gap: 40px; }

  #pagename {
    display: inherit !important; }

  #button3 {
    font-size: 20px !important;
    margin-left: 250px !important;
    margin-top: 40px !important;
    width: 237px !important;
    height: 47px !important; }

  .pizza {
    width: 205px !important;
    height: 207px !important; }

  .add {
    top: 160px;
    left: 70px; }

  .remove {
    top: 160px;
    left: 110px; }

  .cartbutton1 {
    top: -90px;
    left: 180px; }

  .cartbutton2 {
    top: -50px;
    left: 180px; }

  .cartbackground1 {
    width: 220px;
    margin-left: 520px;
    margin-top: -740px;
    min-height: 200px;
    margin-bottom: 500px; }

  .cartbackground2 {
    width: 220px;
    margin-left: 520px;
    margin-top: -495px;
    min-height: 200px;
    margin-bottom: 500px; }

  .cartTitle {
    font-size: 13px; }

  #cartCount {
    font-size: 13px; }

  #orderPrice {
    font-size: 13px; }

  #kitchen {
    font-size: 14px;
    margin-left: 45px; }

  #cartTable {
    margin-left: 5px;
    font-size: 10px; }

  #popup3 {
    top: -120px;
    right: 10px;
    height: 110px; }

  #popup4 {
    top: -120px;
    right: 10px;
    height: 110px; }

  #popup5 {
    top: -120px;
    right: 10px;
    height: 110px; }

  #popup2 {
    width: 768px;
    top: 245px; }
    #popup2 ul {
      top: 0px; }

  .title {
    left: 70px;
    bottom: 160px; }

  .title2 {
    left: 35px;
    bottom: 160px; }

  .title3 {
    left: 60px;
    bottom: 160px; }

  .title4 {
    bottom: 160px;
    left: 65px; }

  .title5 {
    position: absolute;
    left: 60px; }

  .title6 {
    position: absolute;
    left: 40px; }

  .title7 {
    position: absolute;
    left: 25px; }

  #product_description {
    left: 10px;
    top: 40px; }

  #product_description2 {
    left: 20px;
    top: 50px; }

  #product_description3 {
    right: 30px;
    left: 30px;
    top: 40px; }

  #product_description5 {
    left: 20px;
    right: 20px;
    top: 40px; }

  .product_price1 {
    left: 85px; }

  .product_price2 {
    left: 85px; }

  .product_price4 {
    left: 90px; }

  .product_price5 {
    left: 85px; }

  .product_price6 {
    left: 85px; }

  .progress {
    margin-left: 180px;
    width: 400px;
    margin-top: 50px; }

  .cartTable {
    font-size: 20px !important; }

  #yourOrder {
    font-size: 25px;
    margin-left: 130px; }

  .orderprice {
    font-size: 20px !important; }

  #myProgress {
    height: 50px;
    margin-left: 35px !important;
    margin-top: 200px !important; }

  #myBar {
    height: 50px !important; }

  #button5 {
    font-size: 20px !important;
    width: 250px !important;
    height: 40px !important;
    margin-left: 260px !important; }

  .button4 {
    width: 345px !important;
    height: 106px !important;
    font-size: 40px !important;
    margin-left: 215px !important;
    margin-top: 150px !important; }

  .count {
    display: none; }

  .iconsc {
    font-size: 10px !important;
    margin-left: 200px !important;
    margin-top: 10px !important; }
    .iconsc a {
      font-size: 10px !important; } }
/* Splash Page */
#body {
  background-color: black;
  width: 414px;
  height: 736px;
  position: relative; }

#logo1 {
  position: absolute;
  width: 312px;
  height: 234px;
  left: 51px;
  top: 105px; }

#logo2 {
  margin-left: 51px;
  margin-top: 105px; }

#button1 {
  position: absolute;
  width: 286px;
  height: 63px;
  left: 64px;
  top: 600px;
  background-color: black;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  font-size: 32px; }

/* Pizza Page */
#logo {
  width: 177px;
  height: 150px;
  display: none; }

#logo2 {
  width: 73px;
  height: 55px;
  margin-left: 60px;
  margin-top: 20px; }

#pizzaicon {
  position: absolute;
  left: 65px;
  display: none; }

#breadicon {
  position: absolute;
  display: none;
  left: 230px; }

#glassicon {
  position: absolute;
  left: 410px;
  display: none; }

#cakeicon {
  position: absolute;
  left: 590px;
  display: none; }

#button2 {
  background-color: black;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 10px;
  float: left; }

#pagename {
  background-color: black;
  font-family: "Droid Sans", sans-serif;
  color: white;
  font-size: 40px;
  display: none;
  height: 53px; }
  #pagename p {
    padding-top: 5px;
    padding-left: 25px; }

.pizza {
  background-color: black;
  height: 95px;
  border-radius: 5px;
  margin-left: 25px;
  position: relative; }

/* footer */
#button3 {
  background-color: black;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  width: 142px;
  height: 25px;
  margin-top: 20px;
  margin-left: 120px; }

#myProgress {
  width: 90%;
  background-color: black;
  border-radius: 20px;
  border: 2px solid white;
  margin-left: 20px;
  margin-top: 100px; }

#myBar {
  width: 5%;
  height: 30px;
  background-color: #800000;
  border-radius: 20px; }

.button4 {
  background-color: black;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  width: 286px;
  height: 63px;
  font-size: 20px;
  margin-left: 64px;
  margin-top: 100px; }

#progress {
  color: black;
  font-size: 25px;
  font-family: "Droid Sans", sans-serif;
  display: inline;
  margin-left: 75px; }

#button5 {
  background-color: #800000;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  font-family: "Droid Sans", sans-serif;
  width: 200px;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 100px;
  border: 2px solid white; }

#logo3 {
  width: 129px;
  height: 97px;
  margin-top: 10px;
  margin-left: 40px; }

.iconsc {
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 8px;
  margin-left: 50px;
  margin-top: 5px; }
  .iconsc a {
    color: white;
    font-family: "Droid Sans", sans-serif;
    font-size: 8px;
    text-decoration: none; }
